<head>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</head>


<nav class="navbar navbar-expand-lg" id="nav-bg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a [routerLinkActive]="'active'" routerLinkActiveOption="{exact: true}" class="nav-link" aria-current="page" routerLink="/home">Home</a>
          </li>

          <li class="nav-item">
            <a [routerLinkActive]="'active'" class="nav-link" aria-current="page" routerLink="/enrollmentProcess">Enrollment Process</a>
          </li>
          <li class="nav-item">
            <a [routerLinkActive]="'active'" class="nav-link" routerLink="/portals">Portals</a>
          </li>
      
          <li class="nav-item dropdown">
            <a [routerLinkActive]="'active'" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Batches
            </a>
            <ul class="dropdown-menu d-m">
              <li><a class="dropdown-item" routerLink="/home">Batch 0020 </a></li>
              <li><a class="dropdown-item" routerLink="/home">Batch 1005</a></li>
              <li><a class="dropdown-item" routerLink="/home">Batch 0002</a></li>
            </ul>
          </li>

        </ul>

        <span class=" nav-item ">
          <a [routerLinkActive]="'active'" class="nav-link" routerLink="/qa">Q/A</a>
        </span>
        
      </div>
    </div>
  </nav>

  <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  